[client]
socket = /opt/ba_mysql/work/mysql.sock
port = 3306
user = root
default-character-set = utf8

[mysqld]
innodb_file_format='Barracuda'
innodb_large_prefix=1
datadir=/opt/mysql/data
socket=/var/lib/mysql/work/mysql.sock
#socket=/tmp/mysql.sock
user=mysql
#user=root
port = 3306
# Disabling symbolic-links is recommended to prevent assorted security risks
#symbolic-links=0

[mysqld_safe]
log-error=/opt/mysql/app127.tst.blackarrow.tv.err
pid-file=/opt/mysql/mysqld.pid


[client]
socket = /opt/ba_mysql/work/mysql.sock
user = root
port = 3306
default-character-set = utf8


[mysqld]
socket = /opt/ba_mysql/work/mysql.sock
datadir = /opt/ba_mysql/data/mysql
slow-query-log-file = /opt/ba_mysql/logs/slow/slow-queries.log
### InnoDB Configuration
innodb_data_home_dir = /opt/ba_mysql/data/mysql/
innodb_log_group_home_dir = /opt/ba_mysql/data/mysql/
innodb_data_file_path = ibdata1:1G:autoextend
## COMMENTED THESE OUT FOR FORECASTING
#innodb_buffer_pool_size = 20G
#innodb_buffer_pool_instances = 8
innodb_log_files_in_group = 2
innodb_log_file_size = 256M
innodb_log_buffer_size = 64M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 240
innodb_file_per_table = 1
innodb_flush_method=O_DIRECT
### General
port = 3306
character-set-server = utf8
user = mysql
key_buffer_size = 64M
max_allowed_packet = 100M
table_open_cache = 1024
thread_cache_size = 16
sort_buffer_size = 512K
net_buffer_length = 32K
read_buffer_size = 256K
read_rnd_buffer_size = 256K
myisam_sort_buffer_size = 32M
tmpdir = /opt/ba_mysql/logs/tmp
tmp_table_size = 512M
max_heap_table_size = 512M
max_connections = 400
log-bin-trust-function-creators=1
skip-external-locking = 1
#open-files-limit = 16384
open-files-limit = 1024
#innodb_log_arch_dir =  <need value>
local_infile = 0
#safe-show-database
safe-user-create
skip-name-resolve
group_concat_max_len = 20000000
### Replication Configuration - Master
expire_logs_days = 3
server-id = 301
#log-bin = /opt/ba_mysql/binlog/binlog
binlog_format = ROW
max_binlog_size = 500M
#relay-log = /opt/ba_mysql/logs/relay-bin
#relay-log-indexi = /opt/ba_mysql/logs/relay-bin.index
### MySQL Query Caching
query-cache-type = 1
query_cache_size = 32M
query_cache_limit = 2M
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0


[mysqld_safe]
log-error=/opt/ba_mysql/logs/logs/mysqld.log
pid-file = /opt/ba_mysql/work/mysqld.pid


[mysql]
character-sets-dir = /usr/share/percona-server/charsets
default-character-set = utf8
prompt = \u:\d>\_
no-auto-rehash


[mysqladmin]
character-sets-dir = /usr/share/percona-server/charsets
default-character-set = utf8


[mysqlcheck]
character-sets-dir = /usr/share/percona-server/charsets
default-character-set = utf8


[mysqldump]
character-sets-dir = /usr/share/percona-server/charsets
default-character-set = utf8
quick
max_allowed_packet = 128M

[mysqlimport]
character-sets-dir = /usr/share/percona-server/charsets
default-character-set = utf8


[mysqlshow]
character-sets-dir = /usr/share/percona-server/charsets
default-character-set = utf8


[myisamchk]
character-sets-dir = /usr/share/percona-server/charsets
key_buffer = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M


[myisampack]
character-sets-dir =/usr/share/percona-server/charsets


[isamchk]
key_buffer = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M
